<?xml version='1.0'?>
<launch>
    <!-- Include gazebo.launch -->
    <include file="$(find nemo_simulator)/launch/gazebo.launch"/>

    <!-- Open Cvbridge -->
    <!--<node name='cv_bridge' pkg="nemo_simulator" type='cvBridge.py'/>-->

    <node name='nemo_detector' pkg="nemo_simulator" type='Detector.py'/>
    <node name='Follower' pkg="nemo_simulator" type='follow.py'/>
    <node pkg='rosbag' type='play' name='rosbag_play' output='screen' args='--clock $(find nemo_simulator)/scripts/nemo_vel_1.bag'/>
    

</launch>